.shadow {
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
}

/* Accordion */
.accordion {
    margin: 40px auto;
}
.accordion-bg {
    /*border: 1px solid #cfcfcf;*/
    border-radius: 10px;
    margin-top: 2rem;
    background: #fff;
}
.content {
    font-size: 13px;
    color: #4f4f4f;
    font-weight: 400;
}
.accordion li {
    border: 1px solid #cfcfcf;
    list-style: none;
    margin: 20px;
    padding: 7px;
    border-radius: 5px;
}
.accordion li label {
    color: #000;
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}
label::before {
    content: '*';
    margin-right: 10px;
    font-size: 24px;
    font-weight: lighter;
}
input[type="radio"] {
    display: none;
}
.accordion .content {
    color: #363636;
    padding: 0 10px;
    line-height: 25px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s, padding 0.3s;
}
.accordion input[type="radio"]:checked + label + .content {
    max-height: 400px;
    padding: 10px 10px 10px;
}
.accordion input[type="radio"]:checked + label::before {
    content: '-';
}
.title-1 {
    text-align: center;
    color: #000;
    font-size: 32px;
    font-weight: 400;
}
.container .contact {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.container .contact .boxes {
    position: relative;
    padding: 20px 0;
    display: flex;
    cursor: pointer;
}



















