* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a, a:active, a:link a::before, a::after {
    text-decoration: none;
}
body {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: #f8f8ff;
}
ul {
    list-style: none;
    text-decoration: none;
}
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

/* DARK MODE */
.toggleSwitch {
    position: relative;
}
.toggleSwitch .fa {
    position: absolute;
    font-size: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.fa-sun {
    display: none;
    color: #fff;
}
.switch .fa-sun {
    display: block;
}
.switch .fa-moon {
    display: none;
}
:root {
    --primary: #fff;
    --secondary: #36454f;
    --textcolor: #828282;
}
.switch {
    --primary: #1c1c1c;
    --secondary: #fff;
}
body {
    background-color: var(--primary);
}