.links a {
    font-size: 14px;
    color: #000;
    padding-top: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
.logo-bar a {
    text-decoration: none;
    font-weight: 500;
    font-size: 25px;
    color: #000;
    font-family: 'josefin sans', sans-serif;
}

/*section .home {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    width: 1200px;
    height: 700px;
}
.home-img {
    width: 1100px;
    height: 700px;
}*/

.logo-bar {
    align-items: center;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
header {
    position: relative;
    opacity: 1;
    z-index: 100000;
    top: 0;
    padding-bottom: 0.5rem;
    transition: background-color 0.5s ease-in-out;
}
header nav {
    padding: 1.5em 0 1.5em 5em;
}
header nav a {
    text-decoration: none;
}
.navbar {
    width: 100%;
    height: 70px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
}
.navbar img {
    padding-top: 2rem;
}
.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar .links {
    display: flex;
    gap: 2rem;
}
.navbar .toggle_btn {
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.btn-nav {
    color: #000;
    background: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* DROPDOWN MENU */
.dropdown_menu {
    display: none;
    position: sticky;
    right: 2rem;
    top: 0;
    height: 0;
    width: 300px;
    background: #fefefe;
    backdrop-filter: blur(15px);
    border-radius: 1px;
    overflow: hidden;
    transition: all 0.5s ease;
}
.dropdown_menu.open {
    height: 300px;
}
.dropdown_menu li {
    padding: 0.8rem;
    display: flex;
}
.dropdown_menu a {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
.dropdown_menu-a {
    opacity: 1;
    color: black;
}
.dropdown_menu-a:hover {
    color: black;
    opacity: 0.9;
}
.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* RESPONSİVE DESIGN */
@media (max-width: 900px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
    .navbar .nav-search {
        display: block;
    }
}

@media (max-width: 1000px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

.shadow {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.box {
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px 10px;
    background: #fff;
    border-radius: 30px;
    align-items: center;
}
.box:hover input {
    width: 200px;
}
.box input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}
.box a i {
    color: #000;
    font-size: 18px;
}
/* Scroll Animation */
.navbar {
    opacity: 0;
    transition:  all 1s;
    transform: translateY(-10px);
}
.navbar.active {
    opacity: 1;
    transform: translateY(0px);
}

.logo-bar {
    opacity: 0;
    transition:  all 0.5s;
    transform: translateY(-10px);
}
.logo-bar.active {
    opacity: 1;
    transform: translateY(0px);
}
.home {
    opacity: 0;
    transition:  all 0.5s;
    transform: translateX(-10px);
}
.home.active {
    opacity: 1;
    transform: translateX(0px);
}
